/*----- Header Boxes -----*/

.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.circleGraphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid thin black;
  width: 50%;
}

.aggRatingBox {
  border-radius: 5px;
  background-color: lightblue;
}

.aggRatingBoxText {
  text-align: center;
  padding: 2px;
  padding-bottom: 0;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}

.compensationBox {
  border: solid thin black;
  width: 50%;
}
