body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  background-color: white;
  color: black;
}

#main-container {
  border: solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 600px;
}

.navbar {
  /* text color */
  color: white;
}

.nav-btns {
  /* border: solid pink; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.content {
  border: solid green;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 300px;
}

.circle-graph,
.circle-info {
  width: 50%;
  display: flex;
  justify-content: center;
}
.circle-graph {
  border: solid orange;
}
.circle-info {
  border: solid blue;
}

.monthly-comp {
  border: solid magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.percentage-list {
  border: solid sienna;
  padding: 10px;
}
