body {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid red;
  background-color: white;
  color: black;
}

#main-container {
  margin: 10px 0;
  border: solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 600px;
}

.navbar {
  /* text color */
  color: white;
}

.nav-btns {
  /* border: solid pink; */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 10px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.graph-content {
  border: solid green;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 300px;
}

.circle-graph,
.circle-info {
  width: 50%;
  display: flex;
  justify-content: center;
}
.circle-graph {
  border: solid orange;
}
.circle-info {
  border: solid blue;
}

.monthly-comp-container {
  border: solid magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.monthly-comp-info {
  border: solid black;
  background-color: darkolivegreen;
  padding: 10px;
}

.percentage-list-container {
  border: solid sienna;
  padding: 10px;
}

.percentage-list-info {
  border: solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* hiding grid only works with ID */
#percentages-grid {
  background-color: cyan;
  width: 100%;
  padding: 50px 0;
  margin: 20px 0;
}

/* ---Grid--- */
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  gap: 5px;
}
.calculate-btn-container {
  display: flex;
  justify-content: center;
}

.calculate-btn {
  background-color: greenyellow;
}
